{{ ansible_managed | comment }}
#/etc/systemd/system/bi.timer

[Unit]
Description=bi

[Timer]
OnBootSec=2h
OnUnitActiveSec=27h
RandomizedDelaySec=300
Persistent=true

[Install]
#WantedBy=timers.target
WantedBy=multi-user.target